p, ul
{
	color : black ;
	text-align: left  ; /* permet d'aligner le texte horizontalement */
}

p
{
	line-height:150%  /* conditionne l'espace total de la ligne */
}

li
{
	line-height:150%  /* conditionne l'espace total de la ligne */
}
	
h1
{
	color : rgb(215, 28, 28);
	text-align : center;  /* permet d'aligner le texte horizontalement */
	font-size : 50px; /* définit la taille du texte */
}
	
h2
{	
	font-style : italic;  /* définit le style du texte */
}

h3
{	
	color : orange;
	font-size : 30px; /* définit la taille du texte */
}

h3:hover {
	text-align : right; /* permet d'aligner le texte horizontalement */
}

h4 
{
color : white;
font-size : 20px;
}

#bouton10
{
  display: inline-block ;
  background-color: #000091 ; /* définit la couleur de fond */
  border-radius: 10px ;  /* définit le rayon de courbure des coins des cases */
  border: 4px double #cccccc; /* definit le style, la largeur et et la couleur de la bordure */
  color: #eeeeee ;
  text-align: center ;  /* permet d'aligner le texte horizontalement */
  font-size: 20px ; /* définit la taille du texte */
  padding: 10px ; /* définit l'espace à l'interieur du bouton, l'épaisseur */
  width: 110px ;  /* définit la largeur */
  cursor: pointer ; /* définit la forme du curseur */
  margin: 5px ; /* définit l'espace autour du bouton */
}

#bouton20
{
  display: inline-block;
  background-color: #FFFFFF;  /* définit la couleur de fond */
  border-radius: 10px;  /* définit le rayon de courbure des coins des cases */
  border: 4px double #cccccc; /* definit le style, la largeur et et la couleur de la bordure */
  color: black;
  text-align: center; /* permet d'aligner le texte horizontalement */
  font-size: 20px;  /* définit la taille du texte */
  padding: 10px;  /* définit l'espace à l'interieur du bouton, l'épaisseur */
  width: 130px; /* définit la largeur */
  cursor: pointer;  /* définit la forme du curseur */
  margin: 5px;  /* définit l'espace autour du bouton */
}

#bouton21
{
  display: inline-block;
  background-color: #FFFFFF;  /* définit la couleur de fond */
  border-radius: 10px;  /* définit le rayon de courbure des coins des cases */
  border: 4px double #cccccc; /* definit le style, la largeur et et la couleur de la bordure */
  color: black;
  text-align: center; /* permet d'aligner le texte horizontalement */
  font-size: 20px;  /* définit la taille du texte */
  padding: 15px;  /* définit l'espace à l'interieur du bouton, l'épaisseur */
  width: 330px; /* définit la largeur */
  cursor: pointer;  /* définit la forme du curseur */
  margin: 5px;  /* définit l'espace autour du bouton */
}

#bouton30
{
  display: inline-block;
  background-color: #E1000F;  /* définit la couleur de fond */
  border-radius: 10px;  /* définit le rayon de courbure des coins des cases */
  border: 4px double #cccccc; /* definit le style, la largeur et et la couleur de la bordure */
  color: black;
  text-align: center; /* permet d'aligner le texte horizontalement */
  font-size: 20px;  /* définit la taille du texte */
  padding: 10px;  /* définit l'espace à l'interieur du bouton, l'épaisseur */
  width: 130px; /* définit la largeur */
  cursor: pointer;  /* définit la forme du curseur */
  margin: 5px;  /* définit l'espace autour du bouton */
}

#bouton31
{
  display: inline-block;
  background-color: #E1000F;  /* définit la couleur de fond */
  border-radius: 10px;  /* définit le rayon de courbure des coins des cases */
  border: 4px double #cccccc; /* definit le style, la largeur et et la couleur de la bordure */
  color: black;
  text-align: center; /* permet d'aligner le texte horizontalement */
  font-size: 20px;  /* définit la taille du texte */
  padding: 15px;  /* définit l'espace à l'interieur du bouton, l'épaisseur */
  width: 330px; /* définit la largeur */
  cursor: pointer;  /* définit la forme du curseur */
  margin: 5px;  /* définit l'espace autour du bouton */
}

#reponce10,
#reponce20,
#reponce30,
#reponce40,
#reponce50,
#reponce60
{
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 4px dotted;
  border-color: black;
  color: black;
  text-align: center; /* permet d'aligner le texte horizontalement */
  font-size: 15px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
}

#conversion
{
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 4px solid;
  border-color: black;
  color: black;
  text-align: center; /* permet d'aligner le texte horizontalement */
  font-size: 15px;
  padding: 10px;
  width: 300px;
  margin: 5px;
}

#binaire,
#hexadecimal,
#decimal
{
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 4px dotted;
  border-color: black;
  color: black;
  text-align: center; /* permet d'aligner le texte horizontalement */
  font-size: 15px;
  padding: 5px;
  width: 200px;
  cursor: pointer;
  margin: 5px; 
}



#bouton1
{
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: black;
  text-align: center; /* permet d'aligner le texte horizontalement */
  font-size: 20px;
  padding: 5px;
  width: 130px;
  cursor: pointer;
  margin: 5px;
}

li
{
  color : blue;
}

p
{
  color : green;
}

strong
{
	color : blue;
}

body
{
	background-image: url('fond.jpg') ; /* met l'image en fond d'écran */
	background-color: white ; /* affiche un fond blanc si l'image ne charge pas */
  background-repeat: no-repeat ;  /* fais en sorte que l'image ne se répète pas */
  background-position : center ;  /* permet de centrer l'image */
	background-size: cover ;  /* rogne l'image si elle dépasse */
  min-height: 100vh ; /* définit la hauteur minimale que l'image doit occupée */
}

.marge 
{
  margin-left: 5em; /* définit l'espace exterieur à gauche du bouton, l'unité em s'adapte à la typographie */
}

.navbar 
{
  background-color: black;
  display: flex;              
  justify-content: center;  /* centre la barre du menu horizontalement */
  align-items: center;  /* centre la barre du menu verticalement */
  gap: 5vw; /* espace entre les liens */
  height: 10vh;
}

.navbar a /* nom des liens de la barre du menu */
{
  color: white;
  font-size: 3vh; /* définit la taille du texte à partir de la taille de l'écran */
  display: inline-block;        
  transition: transform 0.6s;
}

.navbar a:hover /* lorsqu'on passe le curseur dessus */
{
  text-decoration-line: underline;
	color: rgb(255, 0, 0);
	transform: rotate(360deg);
}

#colonne1
{
  width: 185px;
  float: left;
}
    
#colonne2
{
  width: 585px;
  float: left; /* permet de retirer un élément du flux normal et de le placer à gauche */
}

#exos
{
	color: rgb(50, 189, 228)
}
#image_de_calculatrice_index
{
  display: block ;  /* contrôle le type d'affichage des éléments, influençant leur disposition et leur comportement */
  margin: auto;
  border-radius: 150%;
  height: 70vh ;
  width: 35vw ;
  object-fit: cover /* contrôle le redimensionnement et le positionnement de l'image */
}
#image_ind_histoire
{
  border-radius: 150%;
  height: 100px;
  width: 100px;
}

#image_time_for_change_convertion
{
  border-radius:20px;
  height:359px;
   width:512px;
}

#principal {
    display: flex;
    flex-direction: column; /*met les 2 blocs l'un sur l'autre en non l'un a coté de l'autre*/
    align-items: center;
}

/* Le cadre de la partie du haut */
#cadre_conversion {
    border: 2px solid black;
    border-radius: 50px; /* arondit les bords du cadre*/
    padding: 25px; /*espace vide entre le contour et le texte*/
    background-color: rgba(255, 255, 255, 0.9); /* fond legerement opaque */
    margin-bottom: 30px; /*espace entre les 2 blocs*/
    text-align: center;
    width: 500px;
}


#decimal, #hexadecimal, #binaire {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
}

/* Style des boutons */
#bouton, #bouton2, #bouton3 {
    cursor: pointer;
    padding: 8px 12px;/*8px = haut+bas, 12px = gauche+droite  -> espace autour du texte*/
    margin: 5px;/* espace entre les elements du texte*/
    border-radius: 5px;
    border: 1px solid black;
}

#bouton:hover { background-color: #e0e0e0; }

/* Style du tableau */
#tableau-sauvegarde {
    border-collapse: collapse; /*supprime les bordures blanches */
    width: 500px;
    background: white;
}

#tableau-sauvegarde td, #tableau-sauvegarde th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#conteneur-images {
    display: flex;            /* alignement flexible -> aligne les images */
    justify-content: center;
    gap: 20px;                /*espace entre les images */
    margin-top: 20px;         /* espace avec le dessus */
}


#imgTim, #imgMeziane, #imgRomain
 {
   width: 150px;          /* taille de l'image */
  height: 150px;         /* même taille pour garder la forme ronde */
  border-radius: 50%;    /* rend l'image parfaitement ronde */
  border: 4px solid white; /* couleur et épaisseur de la bordure */
  object-fit: cover;     /* ajuste l'image pour remplir le cercle sans déformation */
}